<div class='wrapper'>
  
	<section class='audition' id='audition'>
    		<div class='newFont intro '>
          <img src='images/auditionPic.jpg' alt='Picture of Drumline' class='img-responsive' />
    			<p class="text-center"><b>Thank you for your interest in the Madison Percussion Academy (MPA)!</b> We are honored that you are considering auditioning with the same familiar staff faces as we continue the <span class='red-text'><em><u>momentum</u></em></span> into the 2017 season!</p>
          
    		</div>
    
    		<table class='chops'>
      			<thead>
        			<tr>
          				<th><u>November 2016</u></th>
         				<th></th>
          				<th></th>
        			</tr>
      			</thead>
      				
      				<tr>
        				<td>MadChops Call-Back Camp &amp Clinic!</td>
        				<td>Sunday, November 13 2016</td>
        				<td>James Clemens HS<br/>2pm - 6pm</td>
      				</tr>
				<tr>
        				<td>Deadline for Online Audition Submissions!</td>
        				<td>Sunday, November 17 2016</td>
        				<td>1pm</td>
      				</tr>
      				<tr>
        				<td>MadChops Call-Back Camp &amp Clinic!</td>
        				<td>Saturday, November 19 2016<br/>
					Sunday,&nbsp; &nbsp;November 20 2016</td>
        				<td>James Clemens HS<br/>Sat: 10am - 4pm<br/>Sun: 2pm - 7pm</td>
      				</tr>
    		</table>
    
    		<table class='chops'>
      			<thead>
        			<tr>
        				<th><u>December 2016</u></th>
         				<th></th>
          				<th></th>
        			</tr>
      			</thead>
      				<tr>
        				<td>Rehearsals Begin!</td>
                <td></td>
                <td></td>      
      				</tr>
    		</table>
    
    		<div class='text-center'>
    			<a class="btn btn-success btn-lg bottom" href='files/pdf/Audition_Packet.pdf' target="_blank" download>Download the MPA|2017 Audition Packet!</a>
			<a class="btn btn-primary btn-lg bottom" href='files/pdf/flyer.pdf' target="_blank" download>Download the MPA|2017 Flyer!</a>
  </div>
